.container {
    padding-top: 100px;
}
.topSection {
    display: flex;
}
.wrapper {
    display: flex;
    align-items: center;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.leftTop {
    max-width: 50%;
    width: 50%;
}
.leftTop h1 {
    font-size: 45px;
    font-weight: 800;
}
.leftTop p {
    font-size: 20px;
    color: #444;
    margin-top: 20px;
}
.leftTop h1 span {
    color: #47b39d;
}
.rightTop {
    max-width: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.rightTop img {
    width: 500px;
}
.serviceSection {
    padding: 50px 0;
}
.serviceWrapper {
    width: 95%;
    max-width: 1200px;
    margin: 40px auto;
}
.serviceWrapper h1 {
    text-align: center;
    font-size: 38px;
}
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    margin: 40px 0;
}
.card {
    flex: 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    background: #fff;
    border: 1px solid rgba(42, 41, 57, 0.1);
    border-radius: 20px;
}
.card img {
    height: 100px;
}
.card h3 {
    color: #47b39d;
    margin-top: 5px;
}
.card p {
    margin-top: 15px;
    color: #777;
}
.imageWrapper {
    display: flex;
    column-gap: 20px;
    height: 400px;
    margin: 50px 0;
}
.image {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.7s ease-in;
}
.linksWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    margin-top: 30px;
}
.linksWrapper a {
    display: flex;
    align-items: center;
    color: #444;
}
.linksWrapper a:hover {
    color: #47b39d;
}
.linksWrapper a svg {
    height: 30px;
    width: 30px;
}
.contactForm label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    margin-top: 20px;
    color: #47b39d;
}
.contactForm label:first-of-type {
    margin-top: 0;
}
.contactForm form {
    display: block;
    padding: 30px;
    background: #fff;
    border: 1px solid rgba(42, 41, 57, 0.1);
    border-radius: 15px;
    width: 95%;
    max-width: 500px;
    margin: 30px auto 0 auto;
}
.contactForm input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(42, 41, 57, 0.1);
    font-size: 16px;
    outline: none;
}
.contactForm textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(42, 41, 57, 0.1);
}
.contactForm button {
    background: #47b39d;
    color: #fff;
    font-weight: 700;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
}
.success {
    text-align: center;
    color: #47b39d;
    font-size: 14px;
    margin: 10px 0;
}

@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column-reverse;
    }
    .leftTop {
        max-width: 100%;
        width: 100%;
    }
    .leftTop h1 {
        font-size: 25px;
        text-align: center;
    }
    .leftTop p {
        font-size: 16px;
        text-align: center;
    }
    .rightTop {
        max-width: 100%;
        width: 100%;
    }
    .rightTop img {
        width: 80%;
    }
    .serviceSection {
        padding: 20px 0;
    }
    .serviceWrapper {
        margin: 20px auto;
    }
    .serviceWrapper h1 {
        font-size: 25px;
    }
    .cardWrapper {
        row-gap: 20px;
        margin: 20px 0;
    }
    .card p {
        font-size: 14px;
    }
    .imageWrapper {
        column-gap: 10px;
        height: 200px;
    }
    .image {
        border-radius: 20px;
        transition: 0.4s ease-in;
    }
    .contactForm label {
        font-size: 14px;
    }
    .contactForm form {
        padding: 30px 15px;
        border-radius: 15px;
        margin: 20px auto 0 auto;
    }
    .contactForm input {
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
    }
    .contactForm textarea {
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
    }
    .contactForm button {
        font-size: 14px;
    }
    .success {
        font-size: 13px;
    }
}
